// .certificate_outer{
//     width: 100%;
//     overflow: hidden;
//    margin-top: 80px !important;
//    background-color: var(--bg-dark);

// }

.c_images_outer{

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);


}
.certificates_images{
    width: 100%;
    min-height: 400px;
    
}
.img_1{
    width: 100%;
}
.c_img_div{
    width: 80%;
    margin: auto !important;

}

.certificate_h1 {
    text-align: center;
    font-size: 80px;
    color: var(--heading-color);

}
.c_border_p{
    width: 500px;
    height: 4px ;
    background-color: var(--heading-color);
    margin:  auto !important;
}
.c_text_p{
    // margin: auto !important;
    text-align: center;
    margin-top: 30px !important;
    font-size: 48px ;
    color: var(--text-color);
}

.c_images_outer{
    margin-top: 80px !important;
}
.certificates_images {
    text-align: center;
    // height: 1000px ;
}
.c_img_div > img {
    width: 100%;
    height: 350px;
    overflow: hidden !important;
    margin-top: 20px !important;

}
.img_1 {
    text-align: center;
}
.title_h6 {
    font-size: 28px;
    color: var(--heading-color);
    text-decoration: underline;
    // margin: 15px  !important;
}
// .img_2 {
//     margin-top: 150px !important;
// }

@media screen and (max-width:1200px){
    .c_img_div{
        width: 98%;
        margin: auto !important;
    }
    .certificate_outer > h1 {
    
        font-size: 60px;
    }
    .c_text_p{
        font-size: 36px ;
    }
}

@media screen and (max-width:992px){
    .c_images_outer{

        display: block;
    
    }
    .certificates_images{
        width: 80%;
        min-height: 400px;
        margin: auto !important;
    }
    .certificates_images{
        margin-top: 50px !important;
    }
    .c_border_p{
        width:400px;
    }
 
}

@media screen and (max-width:768px){
  
    .certificates_images{
        width: 90%;
        min-height: 400px;
        margin: auto !important;
    }
    .c_img_div > img {
        height: 300px;
    }
    .certificate_h1 {
        font-size: 60px !important;
    }
    .c_border_p {
        width:350px;
    }
 
}

@media screen and (max-width:492px){
    .c_img_div > img {
        height: 260px;   
    }
    .certificate_h1 {
        font-size: 48px !important;
    }  
 
}


@media screen and (min-width : 992px) {
    .img_2 {
        margin-top: 150px !important;
    }
}
