.sites_heading {
    text-align: center;
    font-size: 80px;
    color: var(--heading-color);
    text-decoration: underline !important;
}
.sites_outer{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);

}
.site_img > img{
width: 100%;
height: 300px;
overflow: hidden;
}
.site{
    width: calc(100% - 15px);
    margin: 15px !important;
    overflow: hidden;
}
.site > h6 {
    text-align: center;
    font-size: 24px;
    color: var(--heading-color);
    text-decoration: underline !important ;
    margin-top: 15px !important;
}


@media screen and (max-width : 992px) {
    .sites_outer{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(1, 1fr);
    
    }
    .site{
       
        margin-top: 50px !important;
     
    }
    .site_img > img{
        width: 100%;
        height: 400px;
        overflow: hidden;
        margin-top: 50px !important;
        }
        .sites_heading {
            
            font-size: 60px;

        }

}

@media screen and (max-width : 768px){
    .site_img > img{
        height: 300px;
        }
        .sites_heading {
            font-size: 48px;
        }
}

@media screen and (max-width : 556px){
    .site_img > img{
        height: 250px;
        }
        .sites_heading {
            font-size: 36px;
        }
}

@media screen and (max-width : 400px){
    .site_img > img{
        height: 220px;
        }
}
